.hero {
  font-size: 24px;

  &__box1 {
    display: flex;
    align-items: center;
  }

  &__line {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
  }

  &__img1 {
    width: 3440px;
    height: 1440px;
  }
}

.info {
  &__col {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 120px;
  }

  &__iconBox {
    width: 30%;
    height: 20%;
  }
  &__colBox {
    display: flex;
    justify-content: start;
  }

  &__bigBox {
    display: flex;
    justify-content: center;
  }

  &__boxInfo {
    width: 1262px;
    height: 547px;
  }

  &__title {
    display: flex;
    justify-content: start;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 120px;
    height: 35px;
    margin-top: 40px;
    background-color: $white;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 18px;
    box-sizing: border-box;
    color: $black;
    font-weight: 600;
    padding: 16px;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
      background-color: rgb(210, 211, 213);
    }

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    &:focus-visible {
      box-shadow: none;
    }
  }

  &__state {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__blueLine {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0062a9;
    font-size: 35.2px;
    font-weight: 400;
    color: $white;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__blueBox2 {
    margin-left: 150px;
  }

  &__objTitle {
    display: flex;
    justify-content: center;
  }

  &__paragraph {
    display: flex;
    justify-content: center;
  }

  &__img {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 800px;
    margin-right: 10px;
  }

  &__cert {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__certBox {
    display: flex;
    justify-content: center;
  }

  &__certParag {
    display: flex;
    justify-content: center;
  }

  &__certBox {
    display: flex;
    justify-content: center;
  }
  &__certImg {
    width: 300px;
  }

  &__brownLine {
    width: 100%;
    height: 210px;
    background-color: $brown;
    display: flex;
    justify-content: center;
    // align-items: center;
  }

  &__brownBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
  }

  &__number {
    width: 130px;
    color: $white;
  }

  &__lineWhite {
    border-left: 1px solid $white;
    height: 80px;
  }

  &__name {
    color: $white;
    width: 190px;
  }

  &__butt {
    display: flex;
    align-items: center;
    // margin-left: 500px;
  }

  &__blueButton {
    display: flex;
    align-items: center;
    width: 100px;
    height: 35px;
    background-color: $blue;
    border-radius: 18px;
    box-sizing: border-box;
    color: $white;
    font-weight: 600;
    padding: 16px;
    // text-decoration: none #d1d5db solid;
    // text-decoration-thickness: auto;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
      background-color: $white;
    }

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    &:focus-visible {
      box-shadow: none;
    }
  }

  .icons {
    font-size: 52.8px;
  }

  .icon {
    margin-right: 5px;
  }

  &__videoBox {
    display: flex;
    justify-content: center;

    .building {
      position: relative;
      filter: blur(4px);
      width: 3440px;
      height: 930px;
    }
    // .videoBox {
    //   width: 100%;
    //   height: 100%;
    // }
    .video {
      position: absolute;
      margin-top: 300px;
    }
  }

  &__blueLine2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0062a9;
    font-size: 35.2px;
    font-weight: 400;
    color: $white;
    padding-top: 70px;
    padding-bottom: 70px;
    .box {
      height: 100px;
      display: flex;
      justify-content: center;

      .info {
        margin-left: 250px;
      }
    }

    .links {
      display: flex;
      justify-content: center;
      
      .link {
        margin-left: 10px;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;
  }
}
