$white: #ffffff;
$black: #000000;
$brown: #676969;
$blue: #004990;
$grey: #ccc;
$grey-dark: #808080;
$grey-light: #eee;

// RESPONSIBLE BREAKPOINTS
$pc: 1920px;
$tab-port: 1024px;
$tab-port-small: 768px;
$phone: 480px;
$phone-small: 320px;
