.Obj {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

  &__boxTitle {
    width: 250px;
    height: 90px;
    padding-bottom: 20px;
  }

  &__completed {
    display: flex;
    justify-content: center;
    color: $white;
    width: 55px;
    border: solid;
    font-size: 12px;
    border-radius: 5px;
    background-color: #2d6987;
    border-color: #2d6987;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__img {
    width: 235px;
    height: 135px;
    margin-top: 10px;
  }
}
